/* Functions */
$font: 'Roboto', arial, sans-serif;
$font-condensed: 'Roboto Condensed', arial, sans-serif;

@function color($color) {
  @return map-get($colors, $color);
}

$colors: (
  pomegranate: #ee4627,
  supernova: #ffcd00,
  venice-blue: #055f8e,
  orient: #015e85,
  tundora: #474747,

  tail-poppy: #bc2b2c,
  sunset-orange: #ff4747,
  vivid-tangerine: #ff9482,
  sand-dune: #806b66,

  golden-sand: #f1e06d,
  maroon: #790000,
  yellow: #fff200,

  black: #000,
  thunder: #231f20,
  abbey: #4b4d4f,
  black-haze: #f1f2f2,
  gallery: #eaeaea,
  white: #fff,
);

$main-bg-gradient: linear-gradient(to top, color(tail-poppy) 9%, color(sunset-orange) 80%, color(vivid-tangerine) 90%);

/* Layout */
html {
  font-size: 10px;
}

body {
  background-color: color(vivid-tangerine);
  background-image: $main-bg-gradient;
  font-family: $font;
  color: color(black);
  font-weight: 500;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.5;
}

a {
  color: color(yellow);
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.img-vh-center {
  display: block;
  margin: 0 auto;
}

/* .ncpg-section */
.ncpg-section {
  padding: 0.5rem;
  background-color: color(supernova);
  text-align: center;

  .ncpg-message {
    margin-bottom: 0;
    font-size: 1.2rem;
    color: color(tundora);
  }

  .link {
    color: color(venice-blue);

    &:hover {
      color: color(orient);
    }
  }
}

/* .navbar */
.navbar {
  padding: 1.2rem 1rem;
  background-color: rgba(color(sand-dune), 0.9);
  border-bottom: 0;

  .nav-item {
    margin-right: 2rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    color: color(white);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      color: color(yellow);
      text-decoration: none;
    }
  }

  .active {
    color: color(cocoa-bean);
  }

  /* .lang-toggle */
  .lang-toggle {
    padding: 0.5rem 1rem;
    margin-left: 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;

    .lang-link {
      color: color(white);
      text-transform: uppercase;

      &:hover {
        color: color(cocoa-bean);
        text-decoration: none;
      }
    }

    .lang-divider {
      padding: 0 0.6rem;
      color: color(white);
    }
  }

  /* Hamburger Menu */
  .navbar-toggler {
    width: 4.3rem;
    height: 4rem;
    background-color: transparent;
    border: none;

    &:focus {
      box-shadow: none;
    }

    .line {
      float: left;
      width: 100%;
      height: 2px;
      margin-bottom: 5px;
      background-color: color(white);
      transition: opacity, transform;
      transition-duration: 200ms;
      transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:not(.collapsed) {
      .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      .line:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }

      .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}

/* .main-section */
.main-section {
  background: url('../images/fire-cracker-top-left.png') no-repeat left top, url('../images/fire-cracker-top-center.png') no-repeat 25% 0,
    url('../images/fire-cracker-top-right.png') no-repeat right top, url('../images/circle-bottom-right.png') no-repeat right bottom;
  background-size: auto;
}

/* .featured-section */
.featured-section {
  padding-top: 12rem;

  .featured {
    position: relative;
    z-index: 1;
  }

  .featured-image {
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    width: 100rem;
  }

  .featured-text {
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 0;
    width: 66rem;
  }
}

/* .lion-dance-section */
.lion-dance-section {
  padding-bottom: 5rem;
  min-height: 88rem;
}

/* .lion-dance-section */
.lion-dance-section {
  /* .dropdown-section */
  .dropdown-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.2rem;
  }

  .dropdown-label {
    display: block;
    padding: 0.5rem 3rem 0 1rem;
    margin: 0;
    background-color: color(golden-sand);
    width: 100%;
    color: color(black);
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
  }

  .dropdown-select {
    display: block;
    padding: 0.5rem 1rem;
    background-color: color(white);
    width: 100%;
    height: 3.5rem;
    color: color(black);
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;

    option {
      background-color: color(white);
    }

    &:focus {
      outline: none;
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
    }
  }

  .schedule-date {
    padding: 1rem 2rem;
    background-color: color(maroon);
    color: color(yellow);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
  }

  .zone-header {
    padding: 1rem 2rem;
    background-color: color(tail-poppy);
    color: color(white);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
  }

  .outlet {
    display: grid;
    grid-template-columns: 1fr 7fr;

    .outlet-time {
      font-weight: 900;
      text-transform: lowercase;
    }

    .outlet-name {
      text-transform: uppercase;
      font-weight: 900;
    }

    .divider {
      margin: 0 1rem;
    }

    .outlet-addr {
      text-transform: capitalize;
      font-weight: 700;
    }
  }

  .display-col {
    border: 1px solid color(white);

    p {
      padding: 1rem;
      margin-bottom: 0;
      color: color(white);
      font-size: 1.6rem;
    }
  }
}

/* .footer-section */
.footer-section {
  padding: 2rem;
  background-color: color(sand-dune);

  p {
    margin-bottom: 0;
    font-size: 1.1rem;
    color: color(white);
  }

  a {
    color: color(maize);

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-logo-section {
  background-color: color(white);
}

/* Media Queries */
// Hi-res laptop or desktop
// col-xxl
@media (width <= 1920px) {
}

// Office Bigger Screen
@media (width <= 1600px) {
}

@media (width <= 1440px) {
}

// Laptop
// col-xl
@media (width <= 1366px) {
}

@media (width <= 1280px) {
}

// col-lg
@media (width <= 1199px) {
  html {
    font-size: 9px;
  }
}

@media (width <= 1024px) {
}

// col-md, break vertical
@media (width <= 991px) {
}

@media (width <= 960px) {
}

@media (width <= 810px) {
}

// col-sm, md nav bar, mobile view
@media (width <= 767px) {
  .container-md {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar {
    .nav-item {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0.5rem;
      }
    }
  }

  .navbar-nav {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}

@media (width <= 640px) {
  html {
    font-size: 8px;
  }

  .lion-dance-section {
    .outlet {
      grid-template-columns: 1fr 6fr;
    }
  }

  .featured-section {
    .featured-text {
      top: 10%;
      left: 2%;
    }
  }
}

// col
@media (width <= 575px) {
  .main-logo {
    width: 3.5rem;
  }

  .main-section {
    background-size: 18rem, 18rem, 15rem;
  }

  .lion-dance-section {
    .zone-header {
      font-size: 1.9rem;
    }

    .schedule-date {
      padding: 1.2rem 2rem;
      font-size: 1.9rem;
    }

    .display-col {
      p {
        font-size: 1.7rem;
      }
    }

    .outlet {
      grid-template-columns: 1fr 4fr;
    }
  }
}

@media (width <= 460px) {
  .main-section {
    background-size: 15rem, 18rem, 13rem;
  }

  .featured-section {
    .featured-text {
      top: 7%;
      left: 0;
    }
  }
}

@media (width <= 384px) {
}

@media (width <= 360px) {
  .lion-dance-section {
    .display-col {
      p {
        font-size: 1.7rem;
      }
    }
  }
}

@media (width <= 340px) {
}

@media (width <= 320px) {
}

@media (width <= 280px) {
}
