<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#004a85" />
    <title>负担能力计算机 - 新加坡博彩公司</title>
    <link rel="icon" href="../favicon.png" sizes="any" />
    <link rel="apple-touch-icon" href="../favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../includes/may25-bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../includes/may25-styles.min.css" />
    <link rel="stylesheet" href="../includes/affordability-calculator/nov24-ac-style.min.css" />
    <script src="../includes/may25-bootstrap.bundle.min.js"></script>
    <script src="../includes/may25-jquery.min.js"></script>
    <script src="../includes/may25-script.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MS4QFMD');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-scroll" id="ch-lang">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS4QFMD" height="0" width="0" style="display: none; visibility: hidden"></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="fixed-top">
      <div class="ncpg-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p class="ncpg-message">
                如果您发现自己或亲友赌博成瘾，请拨打<a href="https://www.ncpg.org.sg/homepage" target="_blank">全国预防嗜赌援助热线</a
                ><a href="tel:1800-6-668-668">1800-6-668-668</a>。
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .ncpg-section -->
      <nav class="navbar-expand-lg" id="app-nav">
        <div class="navbar">
          <div class="container-md">
            <a href="https://www.singaporepools.com.sg/landing/ch/Pages/index.html" target="_blank"
              ><img src="../images/sgpools-logo.png" alt="Singapore Pools" class="main-logo img-fluid"
            /></a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse navbarCollapse">
              <main-menu lang="ch"></main-menu>

              <div class="lang-toggle">
                <a href="../en/affordability-calculator.html" class="lang-link">ENG</a>
                <a href="../ch/affordability-calculator.html" class="lang-link active">中文</a>
              </div>
              <!-- .lang-toggle -->
            </div>
          </div>
        </div>
        <!-- .navbar -->
        <div class="navbar-sub collapse navbar-collapse navbarCollapse">
          <div class="container-md">
            <div class="collapse navbar-collapse navbarCollapse">
              <sub-menu lang="ch"></sub-menu>
            </div>
          </div>
        </div>
        <!-- .navbar-sub -->
      </nav>
    </header>

    <main class="featured-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 g-0">
            <img src="../images/affordability-calculator/featured-banner-ch.jpg" alt="" class="img-fluid img-vh-center" />
            <!-- .featured-content -->
          </div>
        </div>
      </div>
    </main>
    <!-- .featured-section -->

    <div id="app" class="content-section" v-cloak>
      <div class="container-md">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="content padding-bottom-2" v-if="showStart === true && showResult === false">
              <h1 class="header-main">计算您的财务风险</h1>
              <p>想知道自己到底在赌博上花了多少钱吗？</p>
              <p>这个部分将计算您的财务风险，并帮助您理解何谓 “入不敷出”。</p>
            </div>

            <div class="calculator-section" v-if="showStart === true && showResult === false">
              <form class="form" @submit.prevent="submitForm('ch')">
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="takehomeIncome"
                        ><span class="question-number">1.</span><span class="question-text">您每月扣税后的实得工资是多少？</span></label
                      >
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="takehomeIncome"
                          class="field"
                          :class="{ 'error': takehomeIncomeError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="takehomeIncome"
                          @blur="validateNumeric('takehomeIncome')"
                          autofocus
                        />
                      </div>
                      <div v-if="takehomeIncomeError" class="error-message">
                        <p>只限填写整数</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="householdExpenese"><span class="question-number">2.</span><span class="question-text">您每月的家庭开销是多少？</span></label>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="householdExpenese"
                          class="field"
                          :class="{ 'error': householdExpeneseError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="householdExpenese"
                          @blur="validateNumeric('householdExpenese')"
                        />
                      </div>
                      <div v-if="householdExpeneseError" class="error-message">
                        <p>只限填写整数</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="personnelExpenses"><span class="question-number">3.</span><span class="question-text">您每月的个人开销是多少？</span></label>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="personnelExpenses"
                          class="field"
                          :class="{ 'error': personnelExpensesError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="personnelExpenses"
                          @blur="validateNumeric('personnelExpenses')"
                        />
                      </div>
                      <div v-if="personnelExpensesError" class="error-message">
                        <p>只限填写整数</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="gambleExpenses"><span class="question-number">4.</span><span class="question-text">您每月在赌博上的花费是多少？</span></label>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="gambleExpenses"
                          class="field"
                          :class="{ 'error': gambleExpensesError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="gambleExpenses"
                          @blur="validateNumeric('gambleExpenses')"
                        />
                      </div>
                      <div v-if="gambleExpensesError" class="error-message">
                        <p>只限填写整数</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-section">
                  <div class="row">
                    <div class="col-12 col-md-4 col-lg-4 order-md-2 order-lg-2">
                      <button type="submit" :disabled="submitButtonError" class="submit-btn">
                        <span class="submit-btn-label">计算</span>
                      </button>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8 order-md-1 order-lg-1">
                      <p class="source"><em>*您提供的任何数据都不会被存储。</em></p>
                      <p class="source">与<a href="https://www.nams.sg/Pages/default.aspx" target="_blank" @click="trackOutbound">全国预防嗜赌援助</a>合作</p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- .calculator-section -->
        <div class="result-section" v-if="showStart === false && showResult === true">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="result-content">
                <div class="row">
                  <div class="col-12">
                    <div v-if="result === 'equal'">
                      <p>根据您之前所提供的数目，您的收入<span :class="getResultColor">没有赤字/盈余</span>。</p>
                    </div>
                    <div v-else-if="result === 'surplus'">
                      <p>
                        根据您之前所提供的数目，您的收入<span :class="getResultColor">盈余</span>是<span :class="getResultColor"
                          >${{ Math.abs(this.leftOver).toLocaleString() }}</span
                        >.
                      </p>
                    </div>
                    <div v-else-if="result === 'deficit'">
                      <p>
                        根据您之前所提供的数目，您的收入<span :class="getResultColor">赤字</span>是<span :class="getResultColor"
                          >${{ Math.abs(this.leftOver).toLocaleString() }}</span
                        >.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .result-content -->
              <div class="result-figures">
                <div class="row">
                  <div class="col-md-12 col-lg-3">
                    <p>${{ dailyExpenses.toLocaleString() }}</p>
                    <p class="figures-note">实得工资扣除开销</p>
                  </div>
                  <div class="col-md-12 col-lg-1">
                    <p>-</p>
                  </div>
                  <div class="col-md-12 col-lg-3">
                    <p>${{ gambleExpenses.toLocaleString() }}</p>
                    <p class="figures-note">赌博上的花费</p>
                  </div>
                  <div class="col-md-12 col-lg-1">
                    <p class="equal-sign">=</p>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <p :class="getResultColor">${{ leftOver.toLocaleString() }}</p>
                    <div v-if="result === 'equal'">
                      <p class="figures-note" :class="getResultColor">您的赌博花费可能超出您可以负担的范围。</p>
                    </div>
                    <div v-else-if="result === 'surplus'">
                      <p class="figures-note" :class="getResultColor">您的盈余是</p>
                    </div>
                    <div v-else-if="result === 'deficit'">
                      <p class="figures-note" :class="getResultColor">您的赌博花费可能超出您可以负担的范围。</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .result-figures -->
              <div class="result-advise">
                <div class="row">
                  <div class="col-12">
                    <div v-if="result === 'equal'">
                      <div class="advise-flex advise-equal">
                        <img src="../images/affordability-calculator/icon-equal.png" alt="" class="img-fluid" />
                        <p>
                          明智地管理财务是享受生活乐趣的关键，包括投注。通过保持平衡的预算，你可以在参与我们的产品时做出明智的选择。记得记录你的开支，确保在享受体验的同时不会造成财务压力！
                        </p>
                      </div>
                    </div>
                    <div v-else-if="result === 'surplus'">
                      <div class="advise-flex advise-surplus">
                        <img src="../images/affordability-calculator/icon-surplus.png" alt="" class="img-fluid" />
                        <p>每个月留一些备用现金是个好主意，因为你永远不知道何时会需要它，无论是为自己还是为亲人。你可以决定合适的限额，并坚持这些限额。</p>
                      </div>
                    </div>
                    <div v-else-if="result === 'deficit'">
                      <div class="advise-flex advise-deficit">
                        <img src="../images/affordability-calculator/icon-deficit.png" alt="" class="img-fluid" />
                        <p>
                          虽然享受投注是很自然的，但优先考虑你的财务健康是很重要的。如果你面临赤字，考虑首先关注你的基本开支。投注可以很有趣，但只有在它符合你的预算时。
                        </p>
                      </div>
                    </div>
                    <div class="btn-section text-center">
                      <a href="affordability-calculator.html" class="submit-btn">
                        <span class="submit-btn-label">重新计算</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .result-advise -->
            </div>
          </div>
        </div>
        <!-- .result-section -->
      </div>
    </div>

    <!-- .content-section -->

    <footer>
      <div class="footer-section">
        <div class="container-md">
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <p>&copy; Copyright Singapore Pools</p>
                <p>
                  新加坡博彩公司致力坚守负责任投注的立场。顾客应该将我们的游戏产品视为休闲活动，切勿影响自己的财务与生活。我们的游戏规则严禁18岁以下人士进行投注或领奖，通过新加坡博彩户口进行投注须年满21岁或以上。任何由第三方服务供应商所提供并在此显示的资料、数据或文稿（如赛事相关内容、场地讯息、比数、赛程时间或成绩等）仅属一般通知用途，新加坡博彩公司将不为任何以此为根据的投注负责。我们鼓励顾客在继续浏览我们的网页前阅览我们的<a
                    href="https://www.singaporepools.com.sg/en/rules/Pages/website-tnc.html"
                    target="_blank"
                    >条款及条件</a
                  >和<a href="https://www.singaporepools.com.sg/assets/AULib/personal_data_privacy_protection_policy.pdf" target="_blank" class="ga-footer"
                    >隐私政策</a
                  >
                  。您若未满18岁，请立即离开此网站。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-section -->
      <div class="footer-logo-section">
        <div class="container-md">
          <div class="row">
            <div class="col-3">
              <img
                src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-play-responsibly-en.png"
                alt="Play Responsibly"
                class="img-fluid img-vh-center"
              />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-wla.png" alt="WLA" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-iso.png" alt="ISO" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-skillfuture.png" alt="Skill Future" class="img-fluid img-vh-center" />
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-logo-section -->
    </footer>
    <script src="../includes/may25-vue.global.min.js"></script>
    <script src="../includes/may25-vue-nav.min.js"></script>
    <script src="../includes/affordability-calculator/nov24-ac-scripts.min.js"></script>
  </body>
</html>
