<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#004a85" />
    <title>预算计算机 - 新加坡博彩公司</title>
    <link rel="icon" href="../favicon.png" sizes="any" />
    <link rel="apple-touch-icon" href="../favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../includes/may25-bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../includes/may25-styles.min.css" />
    <link rel="stylesheet" href="../includes/budget-calculator/may25-bc-style.min.css" />
    <script src="../includes/may25-bootstrap.bundle.min.js"></script>
    <script src="../includes/may25-jquery.min.js"></script>
    <script src="../includes/may25-script.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MS4QFMD');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-scroll" id="ch-lang">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS4QFMD" height="0" width="0" style="display: none; visibility: hidden"></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="fixed-top">
      <div class="ncpg-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p class="ncpg-message">
                如果您发现自己或亲友赌博成瘾，请拨打<a href="https://www.ncpg.org.sg/homepage" target="_blank">全国预防嗜赌援助热线</a
                ><a href="tel:1800-6-668-668">1800-6-668-668</a>。
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .ncpg-section -->
      <nav class="navbar-expand-lg" id="app-nav">
        <div class="navbar">
          <div class="container-md">
            <a href="https://www.singaporepools.com.sg/landing/ch/Pages/index.html" target="_blank"
              ><img src="../images/sgpools-logo.png" alt="Singapore Pools" class="main-logo img-fluid"
            /></a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse navbarCollapse">
              <main-menu lang="ch"></main-menu>

              <div class="lang-toggle">
                <a href="../en/budget-calculator.html" class="lang-link">ENG</a>
                <a href="../ch/budget-calculator.html" class="lang-link active">中文</a>
              </div>
              <!-- .lang-toggle -->
            </div>
          </div>
        </div>
        <!-- .navbar -->
        <div class="navbar-sub collapse navbar-collapse navbarCollapse">
          <div class="container-md">
            <div class="collapse navbar-collapse navbarCollapse">
              <sub-menu lang="ch"></sub-menu>
            </div>
          </div>
        </div>
        <!-- .navbar-sub -->
      </nav>
    </header>

    <main class="featured-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 g-0">
            <img src="../images/budget-calculator/featured-banner-apr25-ch.jpg" alt="" class="img-fluid img-vh-center" />
            <!-- .featured-content -->
          </div>
        </div>
      </div>
    </main>
    <!-- .featured-section -->

    <div id="app" class="content-section" v-cloak>
      <div class="container-md">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="content padding-bottom-2">
              <h1 class="header-main">计算您的财务风险</h1>
              <p>想知道自己到底在赌博上花了多少钱吗？</p>
              <p>这个部分将计算您的财务风险，并帮助您理解何谓 “入不敷出”。</p>

              <p class="data-source">*需填妥所有资料。您提供的任何数据都不会被存储。</p>
            </div>

            <div class="calculator-section">
              <form class="form" @submit.prevent="submitForm('ch')">
                <div class="form-section">
                  <div class="row gx-5">
                    <div class="col-12 col-md-4 col-lg-4">
                      <h3 class="type-header">您每月的收入</h3>
                      <p class="type-content">您的每月扣税后的实得工资和其他可支配收入是多少？</p>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="individual-field-section">
                        <label for="employmentIncome" class="question first-question">就业收入</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="1"
                            id="employmentIncome"
                            class="field"
                            :class="{ 'error': employmentIncomeError }"
                            v-model.trim.number="employmentIncome"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('employmentIncome')"
                            @blur="validateNumeric('employmentIncome')"
                            autofocus
                          />
                          <span class="ca-tooltip"></span>
                        </div>
                        <div v-if="employmentIncomeError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                      <div class="individual-field-section">
                        <label for="otherIncome" class="question">其他</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="2"
                            id="otherIncome"
                            class="field"
                            :class="{ 'error': otherIncomeError }"
                            v-model.trim.number="otherIncome"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('otherIncome')"
                            @blur="validateNumeric('otherIncome')"
                          />
                          <span class="ca-tooltip"></span>
                        </div>
                        <div v-if="otherIncomeError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                      <h3 class="type-calculate-header">总收入</h3>
                      <p class="type-calculate">${{ getTotalIncome.toLocaleString() }}</p>
                    </div>
                  </div>
                </div>

                <div class="form-section">
                  <div class="row gx-5">
                    <div class="col-12 col-md-4 col-lg-4">
                      <h3 class="type-header">您每月的支出</h3>
                      <p class="type-content">您的每月家庭开销和个人支出是多少？</p>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="individual-field-section">
                        <label for="housingExpense" class="question first-question">住房及相关</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="3"
                            id="housingExpense"
                            class="field"
                            :class="{ 'error': housingExpenseError }"
                            v-model.trim.number="housingExpense"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('housingExpense')"
                            @blur="validateNumeric('housingExpense')"
                          />
                          <span class="ca-tooltip">
                            <button
                              type="button"
                              class="ca-tooltip-btn"
                              data-bs-toggle="tooltip"
                              data-bs-html="true"
                              data-bs-title="根据新加坡统计局2023年家庭支出调查，新加坡每户家庭在<strong>住房及相关</strong>支出上的平均支出为 <strong>$2,122</strong>。"
                              data-bs-placement="right"
                            ></button>
                          </span>
                        </div>
                        <div v-if="housingExpenseError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                      <div class="individual-field-section">
                        <label for="foodExpense" class="question">食品</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="4"
                            id="foodExpense"
                            class="field"
                            :class="{ 'error': foodExpenseError }"
                            v-model.trim.number="foodExpense"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('foodExpense')"
                            @blur="validateNumeric('foodExpense')"
                          />
                          <span class="ca-tooltip">
                            <button
                              type="button"
                              class="ca-tooltip-btn"
                              data-bs-toggle="tooltip"
                              data-bs-html="true"
                              data-bs-title="根据新加坡统计局2023年家庭支出调查，新加坡每户家庭在<strong>食物</strong>上的平均支出为 <strong>$1,422</strong>。"
                              data-bs-placement="right"
                            ></button>
                          </span>
                        </div>
                        <div v-if="foodExpenseError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                      <div class="individual-field-section">
                        <label for="transportExpense" class="question">交通</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="5"
                            id="transportExpense"
                            class="field"
                            :class="{ 'error': transportExpenseError }"
                            v-model.trim.number="transportExpense"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('transportExpense')"
                            @blur="validateNumeric('transportExpense')"
                          />
                          <span class="ca-tooltip">
                            <button
                              type="button"
                              class="ca-tooltip-btn"
                              data-bs-toggle="tooltip"
                              data-bs-html="true"
                              data-bs-title="根据新加坡统计局2023年家庭支出调查，新加坡每户家庭在<strong>交通</strong>上的平均支出为 <strong>$951</strong>。"
                              data-bs-placement="right"
                            ></button>
                          </span>
                        </div>
                        <div v-if="transportExpenseError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                      <div class="individual-field-section">
                        <label for="othersExpense" class="question">其他（例如：教育、医疗和贷款）</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="6"
                            id="othersExpense"
                            class="field"
                            :class="{ 'error': othersExpenseError }"
                            v-model.trim.number="othersExpense"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('othersExpense')"
                            @blur="validateNumeric('othersExpense')"
                          />
                          <span class="ca-tooltip">
                            <button
                              type="button"
                              class="ca-tooltip-btn"
                              data-bs-toggle="tooltip"
                              data-bs-html="true"
                              data-bs-title="您是否有为家属承担的额外月度开支，例如老年护理津贴或孩子的教育费用？"
                              data-bs-placement="right"
                            ></button>
                          </span>
                        </div>
                        <div v-if="othersExpenseError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                      <h3 class="type-calculate-header">总支出</h3>
                      <p class="type-calculate">${{ getTotalExpenses.toLocaleString() }}</p>
                    </div>
                  </div>
                </div>

                <div class="form-section">
                  <div class="row gx-5">
                    <div class="col-12 col-md-4 col-lg-4">
                      <h3 class="type-header">您每月的娱乐支出</h3>
                      <p class="type-content">您每个月在娱乐活动上花费多少？</p>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="individual-field-section">
                        <label for="entertainmentExpense" class="question first-question">娱乐</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="7"
                            id="entertainmentExpense"
                            class="field"
                            :class="{ 'error': entertainmentExpenseError }"
                            v-model.trim.number="entertainmentExpense"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('entertainmentExpense')"
                            @blur="validateNumeric('entertainmentExpense')"
                          />
                          <span class="ca-tooltip"></span>
                        </div>
                        <div v-if="entertainmentExpenseError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                      <div class="individual-field-section">
                        <label for="gamblingExpense" class="question">赌博</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="8"
                            id="gamblingExpense"
                            class="field"
                            :class="{ 'error': gamblingExpenseError }"
                            v-model.trim.number="gamblingExpense"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('gamblingExpense')"
                            @blur="validateNumeric('gamblingExpense')"
                          />
                          <span class="ca-tooltip">
                            <button
                              type="button"
                              class="ca-tooltip-btn"
                              data-bs-toggle="tooltip"
                              data-bs-html="true"
                              data-bs-title="不确定您在赌博上花费多少钱？<strong>请查看你的户口概况</strong>。"
                              data-bs-placement="right"
                            ></button>
                          </span>
                        </div>
                        <div v-if="gamblingExpenseError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                      <div class="individual-field-section">
                        <label for="othersLeisureExpense" class="question">其他</label>
                        <div class="field-section">
                          <span class="dollar-sign">$</span>
                          <input
                            type="text"
                            min="0"
                            step="1"
                            minlength="1"
                            maxlength="6"
                            inputmode="numeric"
                            autocomplete="off"
                            tabindex="9"
                            id="othersLeisureExpense"
                            class="field"
                            :class="{ 'error': othersLeisureExpenseError }"
                            v-model.trim.number="othersLeisureExpense"
                            @keypress="onlyAllowNumbers"
                            @input="filterNumericInput('othersLeisureExpense')"
                            @blur="validateNumeric('othersLeisureExpense')"
                          />
                          <span class="ca-tooltip"></span>
                        </div>
                        <div v-if="othersLeisureExpenseError" class="error-message">
                          <p>{{ errorMsgCH }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                      <h3 class="type-calculate-header">总娱乐支出</h3>
                      <p class="type-calculate">${{ getTotalLeisureExpenses.toLocaleString() }}</p>
                    </div>
                  </div>
                </div>

                <div class="row gx-5">
                  <div class="col-12 col-md-4 col-lg-4"></div>
                  <div class="col-12 col-md-5 col-lg-5">
                    <div class="btn-section">
                      <button type="button" class="btn cancel-btn" @click="resetFields">
                        <span class="btn-label">重置</span>
                      </button>
                      <button type="submit" class="btn submit-btn" :disabled="submitButtonError">
                        <span class="btn-label">计算</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-12 col-md-3 col-lg-3"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- .calculator-section -->

        <div id="result-section" class="result-section padding-top-6" v-if="showStart === false && showResult === true">
          <div class="container-md">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="chart-section">
                  <div class="balance-left-chart-section">
                    <div class="donut-text">
                      <p class="balance-left-content">剩余余额</p>
                      <p class="balance-left-amount" :class="`${result}-color`">${{ balanceLeft.toLocaleString() }}</p>
                      <div v-if="result === 'very-positive'">
                        <p class="balance-left-advise">这个剩余余额您可以接受吗？</p>
                      </div>
                      <div v-else-if="result === 'positive'">
                        <p class="balance-left-advise">这个剩余余额您可以接受吗？</p>
                      </div>
                      <div v-else-if="result === 'equal'">
                        <p class="balance-left-advise">您的赌博花费可能超出您可以负担的范围。</p>
                      </div>
                      <div v-else-if="result === 'negative'">
                        <p class="balance-left-advise">您的赌博花费可能超出您可以负担的范围。</p>
                      </div>
                    </div>
                    <!-- .donut-text -->
                    <canvas id="balanceLeftChart" class="donut-chart"></canvas>
                  </div>
                  <div class="chart-result-section">
                    <p class="gambling-spend">
                      <span class="gambling-spend-percent" :class="`${result}-color`">{{ gamblingOverIncomeP }}% </span>的总收入用于赌博
                    </p>
                    <!-- .gambling-spend -->

                    <div class="result-advise-section">
                      <div class="advise-section" v-if="result === 'very-positive'">
                        <img src="../images/budget-calculator/icon-positive.png" alt="" class="advise-icon img-fluid" />
                        <p class="advise advise-positive">
                          每个月留一些备用现金是个好主意，因为你永远不知道何时会需要它，无论是为自己还是为亲人。你可以决定合适的限额，并坚持这些限额。
                        </p>
                      </div>
                      <div class="advise-section" v-else-if="result === 'positive'">
                        <img src="../images/budget-calculator/icon-positive.png" alt="" class="advise-icon img-fluid" />
                        <p class="advise advise-positive">
                          每个月留一些备用现金是个好主意，因为你永远不知道何时会需要它，无论是为自己还是为亲人。你可以决定合适的限额，并坚持这些限额。
                        </p>
                      </div>
                      <div class="advise-section" v-else-if="result === 'equal'">
                        <img src="../images/budget-calculator/icon-equal.png" alt="" class="advise-icon img-fluid" />
                        <p class="advise advise-equal">
                          明智地管理财务是享受生活乐趣的关键，包括投注。通过保持平衡的预算，你可以在参与我们的产品时做出明智的选择。记得记录你的开支，确保在享受体验的同时不会造成财务压力！
                        </p>
                      </div>
                      <div class="advise-section" v-else-if="result === 'negative'">
                        <img src="../images/budget-calculator/icon-negative.png" alt="" class="advise-icon img-fluid" />
                        <p class="advise advise-negative">
                          虽然享受投注是很自然的，但优先考虑你的财务健康是很重要的。如果你面临赤字，考虑首先关注你的基本开支。投注可以很有趣，但只有在它符合你的预算时。
                        </p>
                      </div>
                    </div>
                    <!-- .result-advise-section -->

                    <div class="quick-tips-section">
                      <div class="quick-tips-icon">
                        <img src="../images/budget-calculator/quick-tips.png" alt="img-fluid" />
                      </div>
                      <div class="quick-tips-content">
                        <h3>使用新加坡博彩户口谨慎投注</h3>
                        <p>设定适当的限额以更好地控制您的投注。<br />请查看我们的<a href="index.html">指南</a>。</p>
                      </div>
                    </div>
                    <!-- .quick-tips-section -->
                  </div>
                  <!-- .chart-result-section -->
                </div>
                <!-- .chart-section -->
              </div>
            </div>
          </div>
        </div>
        <!-- .result-section -->
      </div>
    </div>
    <!-- #app .content-section -->

    <footer>
      <div class="footer-section">
        <div class="container-md">
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <p>&copy; Copyright Singapore Pools</p>
                <p>
                  新加坡博彩公司致力坚守负责任投注的立场。顾客应该将我们的游戏产品视为休闲活动，切勿影响自己的财务与生活。我们的游戏规则严禁18岁以下人士进行投注或领奖，通过新加坡博彩户口进行投注须年满21岁或以上。任何由第三方服务供应商所提供并在此显示的资料、数据或文稿（如赛事相关内容、场地讯息、比数、赛程时间或成绩等）仅属一般通知用途，新加坡博彩公司将不为任何以此为根据的投注负责。我们鼓励顾客在继续浏览我们的网页前阅览我们的<a
                    href="https://www.singaporepools.com.sg/en/rules/Pages/website-tnc.html"
                    target="_blank"
                    >条款及条件</a
                  >和<a href="https://www.singaporepools.com.sg/assets/AULib/personal_data_privacy_protection_policy.pdf" target="_blank" class="ga-footer"
                    >隐私政策</a
                  >
                  。您若未满18岁，请立即离开此网站。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-section -->
      <div class="footer-logo-section">
        <div class="container-md">
          <div class="row">
            <div class="col-3">
              <img
                src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-play-responsibly-en.png"
                alt="Play Responsibly"
                class="img-fluid img-vh-center"
              />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-wla.png" alt="WLA" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-iso.png" alt="ISO" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-skillfuture.png" alt="Skill Future" class="img-fluid img-vh-center" />
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-logo-section -->
    </footer>
    <script src="../includes/may25-vue.global.min.js"></script>
    <script src="../includes/may25-vue-nav.min.js"></script>
    <script src="../includes/budget-calculator/may25-chart.js"></script>
    <script src="../includes/budget-calculator/may25-bc-script.min.js"></script>
  </body>
</html>
