<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#004a85" />
    <title>投注态度自我评估 - 谨慎投注</title>
    <link rel="icon" href="../favicon.png" sizes="any" />
    <link rel="apple-touch-icon" href="../favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../includes/may25-bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../includes/may25-styles.min.css" />
    <link rel="stylesheet" href="../includes/self-assessment/may25-sa-style.min.css" />
    <script src="../includes/may25-bootstrap.bundle.min.js"></script>
    <script src="../includes/may25-jquery.min.js"></script>
    <script src="../includes/may25-script.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MS4QFMD');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-scroll" id="ch-lang">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS4QFMD" height="0" width="0" style="display: none; visibility: hidden"></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="fixed-top">
      <div class="ncpg-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p class="ncpg-message">
                如果您发现自己或亲友赌博成瘾，请拨打<a href="https://www.ncpg.org.sg/homepage" target="_blank">全国预防嗜赌援助热线</a
                ><a href="tel:1800-6-668-668">1800-6-668-668</a>。
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .ncpg-section -->
      <nav class="navbar-expand-lg" id="app-nav">
        <div class="navbar">
          <div class="container-md">
            <a href="https://www.singaporepools.com.sg/landing/ch/Pages/index.html" target="_blank"
              ><img src="../images/sgpools-logo.png" alt="Singapore Pools" class="main-logo img-fluid"
            /></a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse navbarCollapse">
              <main-menu lang="ch"></main-menu>

              <div class="lang-toggle">
                <a href="../en/self-assessment.html" class="lang-link">ENG</a>
                <a href="../ch/self-assessment.html" class="lang-link active">中文</a>
              </div>
              <!-- .lang-toggle -->
            </div>
          </div>
        </div>
        <!-- .navbar -->
        <div class="navbar-sub collapse navbar-collapse navbarCollapse">
          <div class="container-md">
            <div class="collapse navbar-collapse navbarCollapse">
              <sub-menu lang="ch"></sub-menu>
            </div>
          </div>
        </div>
        <!-- .navbar-sub -->
      </nav>
    </header>

    <main class="featured-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 g-0">
            <img src="../images/self-assessment/featured-banner-ch.jpg" alt="" class="img-fluid img-vh-center" />
            <!-- .featured-content -->
          </div>
        </div>
      </div>
    </main>
    <!-- .featured-section -->

    <div id="app" class="content-section" v-cloak>
      <div class="container-md">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="start-section content padding-bottom-2" v-if="showStart === true && showResult === false">
              <h1 class="header-main">您是否能掌控自己的投注活动？<br />是否在能力范围内进行投注?</h1>
              <p>
                与<a href="https://www.nams.sg/Pages/default.aspx" target="_blank" @click="trackOutbound">全国预防嗜赌援助</a
                >合作所创作的自我评估将让您更加了解自身的赌博嗜好及关于投注行为的潜在危险。
              </p>
              <p>这个自我评估只需大约5分钟就能完成，共有9道问题，答案没有对错之分。在答复时，请考虑您的一般投注行为。</p>
              <p>
                新加坡博彩户口持有者请点击以下“新加坡博彩户口持有者”按钮以访问您的账户。登录后，选择左侧导航栏中的“自我评估”继续操作。如果您没有账户，请点击以下“非新加坡博彩户口持有者”按钮。
              </p>
              <p>立即测试！</p>
              <h3 class="header-start">我是 &hellip;</h3>
              <div class="row g-5">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="start-btn">
                    <a href="https://online.singaporepools.com/cn/account#page_self_assessment" target="_blank"
                      ><span class="start-btn-label">新加坡博彩户口持有者</span></a
                    >
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="start-btn" @click="nextQuestion('ch');">
                    <span class="start-btn-label">非新加坡博彩户口持有者</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- .start-section -->

            <div class="layout-section" v-if="showStart === false && showResult === false">
              <img src="../images/self-assessment/rg-girl.png" alt="" class="img-fluid rg-girl" />

              <div class="bg-section">
                <div v-if="currentQuestion === 1" class="question">
                  <p>了解我的投注风险状况，立即测试我的问题赌博严重程度指数 (PGSI)。</p>

                  <p>回想在过去的12个月内, 您可曾将输不起的钱拿去赌？</p>
                </div>
                <div v-else-if="currentQuestion === 2" class="question">
                  <p>继续回想在过去的12个月内，您可曾为了想得到同等的刺激而越赌越大？</p>
                </div>
                <div v-else-if="currentQuestion === 3" class="question">
                  <p>您在赌输钱后，可曾另找一天回去翻本？</p>
                </div>
                <div v-else-if="currentQuestion === 4" class="question">
                  <p>您是否有变卖财物或向人借钱去赌博？</p>
                </div>
                <div v-else-if="currentQuestion === 5" class="question">
                  <p>您是否觉得自己可能有嗜赌问题？</p>
                </div>
                <div v-else-if="currentQuestion === 6" class="question">
                  <p>您的健康是否因赌博而出现包括压力或焦虑等问题？</p>
                </div>
                <div v-else-if="currentQuestion === 7" class="question">
                  <p>无论您认同与否，可曾有人批评您赌博的行为或指出您有嗜赌问题？</p>
                </div>
                <div v-else-if="currentQuestion === 8" class="question">
                  <p>您的赌博行为可曾给自己或家人带来财务问题？</p>
                </div>
                <div v-else-if="currentQuestion === 9" class="question">
                  <p>您可曾为自己赌博的情况或行为感到内疚？</p>
                </div>

                <div class="question-answer">
                  <div class="row g-0">
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('ch'); countTotalScore(0);">
                        <span class="dot"></span>
                        <span class="answer">从来没有</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('ch'); countTotalScore(1);">
                        <span class="dot"></span>
                        <span class="answer">有时候有</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('ch'); countTotalScore(2);">
                        <span class="dot"></span>
                        <span class="answer">多数会有</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('ch'); countTotalScore(3);">
                        <span class="dot"></span>
                        <span class="answer">几乎都有</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .question-answer -->

                <div class="question-progress">
                  <span class="progress-number">{{ currentQuestion }}/{{ totalQuestion }}</span>
                </div>
                <!-- .question-progress -->
              </div>
              <!-- .bg-section -->
            </div>
            <!-- .layout-section -->

            <div class="layout-section" v-if="showStart === false && showResult === true">
              <img src="../images/self-assessment/rg-girl.png" alt="" class="img-fluid rg-girl" />

              <div class="bg-section bg-result">
                <div class="result-section">
                  <div class="risk-bar-section">
                    <div id="risk-bar-1" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 1 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label">零风险</span>
                      </div>
                    </div>
                    <div id="risk-bar-2" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 2 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label vhide">低风险</span>
                      </div>
                    </div>
                    <div id="risk-bar-3" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 3 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label vhide">中等风险</span>
                      </div>
                    </div>
                    <div id="risk-bar-4" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 4 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label">高风险</span>
                      </div>
                    </div>
                  </div>
                  <!-- .risk-bar-section -->

                  <div class="risk-result-section">
                    <div v-if="riskLevel === 1" id="risk-result-1">
                      <h3>您的回答属于<span class="highlight">零风险</span></h3>
                    </div>
                    <!-- Score of 0 -->
                    <div v-else-if="riskLevel === 2" id="risk-result-2">
                      <h3>您的回答属于<span class="highlight">低风险</span></h3>
                    </div>
                    <!-- Score of 1 or 2 -->
                    <div v-else-if="riskLevel === 3" id="risk-result-3">
                      <h3>您的回答属于<span class="highlight">中等风险</span></h3>
                    </div>
                    <!-- Score of 3 to 7 -->
                    <div v-else-if="riskLevel === 4" id="risk-result-4">
                      <h3>您的回答属于<span class="highlight">高风险</span></h3>
                    </div>
                    <!-- Score of 8 or more -->
                  </div>
                  <!-- .risk-result-section -->
                </div>
                <!-- .result-section -->
              </div>
              <!-- .bg-section -->
            </div>
            <!-- .layout-section -->

            <div class="layout-section" v-if="showStart === false && showResult === true">
              <img src="../images/self-assessment/rg-girl.png" alt="" class="img-fluid rg-girl-hide" />

              <div class="bg-section">
                <div class="hotline-section">
                  <p><span v-if="riskLevel === 1">继续加油！</span>谢谢您抽空完成自我评估！</p>
                  <p>
                    我们希望您现在更加了解关于您投注活动的潜在危险。欲了解如何有责任并节制地进行投注，<a href="index.html">点击这里</a
                    >浏览新加坡博彩公司谨慎投注网页。
                  </p>
                  <p>
                    如果您需要任何协助或建议，请随时拨打24小时<a href="https://www.ncpg.org.sg/" target="_blank" @click="trackOutbound">全国预防嗜赌援助热线</a
                    >1800-6-668-668。
                  </p>
                </div>
                <!-- .hotline-section -->
              </div>
              <!-- .bg-section -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .content-section -->

    <footer>
      <div class="footer-section">
        <div class="container-md">
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <p>&copy; Copyright Singapore Pools</p>
                <p>
                  新加坡博彩公司致力坚守负责任投注的立场。顾客应该将我们的游戏产品视为休闲活动，切勿影响自己的财务与生活。我们的游戏规则严禁18岁以下人士进行投注或领奖，通过新加坡博彩户口进行投注须年满21岁或以上。任何由第三方服务供应商所提供并在此显示的资料、数据或文稿（如赛事相关内容、场地讯息、比数、赛程时间或成绩等）仅属一般通知用途，新加坡博彩公司将不为任何以此为根据的投注负责。我们鼓励顾客在继续浏览我们的网页前阅览我们的<a
                    href="https://www.singaporepools.com.sg/en/rules/Pages/website-tnc.html"
                    target="_blank"
                    >条款及条件</a
                  >和<a href="https://www.singaporepools.com.sg/assets/AULib/personal_data_privacy_protection_policy.pdf" target="_blank" class="ga-footer"
                    >隐私政策</a
                  >
                  。您若未满18岁，请立即离开此网站。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-section -->
      <div class="footer-logo-section">
        <div class="container-md">
          <div class="row">
            <div class="col-3">
              <img
                src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-play-responsibly-en.png"
                alt="Play Responsibly"
                class="img-fluid img-vh-center"
              />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-wla.png" alt="WLA" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-iso.png" alt="ISO" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-skillfuture.png" alt="Skill Future" class="img-fluid img-vh-center" />
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-logo-section -->
    </footer>
    <script src="../includes/may25-vue.global.min.js"></script>
    <script src="../includes/may25-vue-nav.min.js"></script>
    <script src="../includes/self-assessment/may25-sa-scripts.min.js"></script>
  </body>
</html>
