@function color($color) {
  @return map-get($colors, $color);
}

$colors: (
  congress-blue: #004b8c,
  cerulean: #0096da,
  gallery: #eee,
  black: #000,
  white: #fff,
);

/* template-layout */
.template-layout {
  margin: 0;
  padding: 0;

  p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: color(black);
  }

  .display-header-section {
    display: grid;
    justify-content: space-evenly;
    column-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
  }

  .outlet {
    display: grid;
    justify-content: space-evenly;
    column-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
  }
}
