<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#004a85" />
    <title>Affordability Calculator - Singapore Pools</title>
    <link rel="icon" href="../favicon.png" sizes="any" />
    <link rel="apple-touch-icon" href="../favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../includes/may25-bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../includes/may25-styles.min.css" />
    <link rel="stylesheet" href="../includes/affordability-calculator/nov24-ac-style.min.css" />
    <script src="../includes/may25-bootstrap.bundle.min.js"></script>
    <script src="../includes/may25-jquery.min.js"></script>
    <script src="../includes/may25-script.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MS4QFMD');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-scroll" id="en-lang">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS4QFMD" height="0" width="0" style="display: none; visibility: hidden"></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="fixed-top">
      <div class="ncpg-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p class="ncpg-message">
                If you notice that you or somebody you know may be gambling excessively, call the
                <a href="https://www.ncpg.org.sg/homepage" target="_blank">National Problem Gambling Helpline</a> today at
                <a href="tel:1800-6-668-668">1800-6-668-668</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .ncpg-section -->
      <nav class="navbar-expand-lg" id="app-nav">
        <div class="navbar">
          <div class="container-md">
            <a href="https://www.singaporepools.com.sg/landing/en/Pages/index.html" target="_blank"
              ><img src="../images/sgpools-logo.png" alt="Singapore Pools" class="main-logo img-fluid"
            /></a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse navbarCollapse">
              <main-menu lang="en"></main-menu>

              <div class="lang-toggle">
                <a href="../en/affordability-calculator.html" class="lang-link active">ENG</a>
                <a href="../ch/affordability-calculator.html" class="lang-link">中文</a>
              </div>
              <!-- .lang-toggle -->
            </div>
          </div>
        </div>
        <!-- .navbar -->
        <div class="navbar-sub collapse navbar-collapse navbarCollapse">
          <div class="container-md">
            <div class="collapse navbar-collapse navbarCollapse">
              <sub-menu lang="en"></sub-menu>
            </div>
          </div>
        </div>
        <!-- .navbar-sub -->
      </nav>
    </header>

    <main class="featured-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 g-0">
            <img src="../images/affordability-calculator/featured-banner-en.jpg" alt="" class="img-fluid img-vh-center" />
            <!-- .featured-content -->
          </div>
        </div>
      </div>
    </main>
    <!-- .featured-section -->

    <div id="app" class="content-section" v-cloak>
      <div class="container-md">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="content padding-bottom-2" v-if="showStart === true && showResult === false">
              <h1 class="header-main">Calculate Your Financial Risk</h1>
              <p>Ever wondered how much you really spend on gambling?</p>
              <p>This section calculates your financial risk and will help you understand "how much is too much?".</p>
            </div>

            <div class="calculator-section" v-if="showStart === true && showResult === false">
              <form class="form" @submit.prevent="submitForm('en')">
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="takehomeIncome"
                        ><span class="question-number">1.</span><span class="question-text">How much is your monthly take-home pay?</span></label
                      >
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="takehomeIncome"
                          class="field"
                          :class="{ 'error': takehomeIncomeError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="takehomeIncome"
                          @blur="validateNumeric('takehomeIncome')"
                          autofocus
                        />
                      </div>
                      <div v-if="takehomeIncomeError" class="error-message">
                        <p>Please enter whole numbers only</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="householdExpenese"
                        ><span class="question-number">2.</span><span class="question-text">What are your monthly household expenses?</span></label
                      >
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="householdExpenese"
                          class="field"
                          :class="{ 'error': householdExpeneseError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="householdExpenese"
                          @blur="validateNumeric('householdExpenese')"
                        />
                      </div>
                      <div v-if="householdExpeneseError" class="error-message">
                        <p>Please enter whole numbers only</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="personnelExpenses"
                        ><span class="question-number">3.</span><span class="question-text">What are your monthly personal expenses?</span></label
                      >
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="personnelExpenses"
                          class="field"
                          :class="{ 'error': personnelExpensesError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="personnelExpenses"
                          @blur="validateNumeric('personnelExpenses')"
                        />
                      </div>
                      <div v-if="personnelExpensesError" class="error-message">
                        <p>Please enter whole numbers only</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-section">
                  <div class="row">
                    <div class="col-12 col-md-7 col-lg-7">
                      <label for="gambleExpenses"
                        ><span class="question-number">4.</span><span class="question-text">How much do you gamble each month?</span></label
                      >
                    </div>
                    <div class="col-12 col-md-5 col-lg-5">
                      <div class="field-section">
                        <span class="dollar-sign">$</span
                        ><input
                          type="text"
                          id="gambleExpenses"
                          class="field"
                          :class="{ 'error': gambleExpensesError }"
                          placeholder="0"
                          inputmode="numeric"
                          maxlength="6"
                          autocomplete="off"
                          v-model.trim.number="gambleExpenses"
                          @blur="validateNumeric('gambleExpenses')"
                        />
                      </div>
                      <div v-if="gambleExpensesError" class="error-message">
                        <p>Please enter whole numbers only</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-section">
                  <div class="row">
                    <div class="col-12 col-md-4 col-lg-4 order-md-2 order-lg-2">
                      <button type="submit" :disabled="submitButtonError" class="submit-btn">
                        <span class="submit-btn-label">Calculate</span>
                      </button>
                    </div>
                    <div class="col-12 col-md-8 col-lg-8 order-md-1 order-lg-1">
                      <p class="source"><em>*Any data you provide will not be stored.</em></p>
                      <p class="source">
                        In collaboration with the
                        <a href="https://www.nams.sg/Pages/default.aspx" target="_blank" @click="trackOutbound"
                          >National Addictions Management Service (NAMS)</a
                        >
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- .calculator-section -->
        <div class="result-section" v-if="showStart === false && showResult === true">
          <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
              <div class="result-content">
                <div class="row">
                  <div class="col-12">
                    <div v-if="result === 'equal'">
                      <p>Based on the figures you have provided earlier, you have no <span :class="getResultColor">deficit/surplus</span>.</p>
                    </div>
                    <div v-else-if="result === 'surplus'">
                      <p>
                        Based on the figures you have provided earlier, you have a <span :class="getResultColor">surplus</span> of
                        <span :class="getResultColor">${{ Math.abs(this.leftOver).toLocaleString() }}</span>.
                      </p>
                    </div>
                    <div v-else-if="result === 'deficit'">
                      <p>
                        Based on the figures you have provided earlier, you have a <span :class="getResultColor">deficit</span> of
                        <span :class="getResultColor">${{ Math.abs(this.leftOver).toLocaleString() }}</span>.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .result-content -->
              <div class="result-figures">
                <div class="row">
                  <div class="col-md-12 col-lg-3">
                    <p>${{ dailyExpenses.toLocaleString() }}</p>
                    <p class="figures-note">Take-home pay minus expenses</p>
                  </div>
                  <div class="col-md-12 col-lg-1">
                    <p>-</p>
                  </div>
                  <div class="col-md-12 col-lg-3">
                    <p>${{ gambleExpenses.toLocaleString() }}</p>
                    <p class="figures-note">Gambling expenditure</p>
                  </div>
                  <div class="col-md-12 col-lg-1">
                    <p class="equal-sign">=</p>
                  </div>
                  <div class="col-md-12 col-lg-4">
                    <p :class="getResultColor">${{ leftOver.toLocaleString() }}</p>
                    <div v-if="result === 'equal'">
                      <p class="figures-note" :class="getResultColor">You may be gambling more than you can afford.</p>
                    </div>
                    <div v-else-if="result === 'surplus'">
                      <p class="figures-note" :class="getResultColor">Amount of surplus</p>
                    </div>
                    <div v-else-if="result === 'deficit'">
                      <p class="figures-note" :class="getResultColor">You may be gambling more than you can afford.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .result-figures -->
              <div class="result-advise">
                <div class="row">
                  <div class="col-12">
                    <div v-if="result === 'equal'">
                      <div class="advise-flex advise-equal">
                        <img src="../images/affordability-calculator/icon-equal.png" alt="" class="img-fluid" />
                        <p>
                          Managing your finances wisely is key to enjoying life's pleasures, including betting. With a balanced budget, you can make informed
                          choices about how much to engage with our products. Keep track of your spending, and ensure you're enjoying your experience without
                          any financial strain!
                        </p>
                      </div>
                    </div>
                    <div v-else-if="result === 'surplus'">
                      <div class="advise-flex advise-surplus">
                        <img src="../images/affordability-calculator/icon-surplus.png" alt="" class="img-fluid" />
                        <p>
                          It is always good to have some spare cash every month because you never know when you may need it, be it for yourself or your loved
                          ones. It is up to you to decide what the appropriate limits are, and stick to these.
                        </p>
                      </div>
                    </div>
                    <div v-else-if="result === 'deficit'">
                      <div class="advise-flex advise-deficit">
                        <img src="../images/affordability-calculator/icon-deficit.png" alt="" class="img-fluid" />
                        <p>
                          While it's natural to enjoy betting, it's important to prioritize your financial well-being. If you're facing a deficit, consider
                          focusing on your essential expenses first. Betting can be fun, but only when it fits within your budget.
                        </p>
                      </div>
                    </div>
                    <div class="btn-section text-center">
                      <a href="affordability-calculator.html" class="submit-btn">
                        <span class="submit-btn-label">Recalculate Again</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- .result-advise -->
            </div>
          </div>
        </div>
        <!-- .result-section -->
      </div>
    </div>
    <!-- .content-section -->

    <footer>
      <div class="footer-section">
        <div class="container-md">
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <p>&copy; Copyright Singapore Pools</p>
                <p>
                  Singapore Pools takes a strong Play Responsibly stand. Customers should play our games just for a little flutter and it must not adversely
                  affect their finances or lifestyle. Our game rules do not allow any person under the age of 18 to place a bet or claim a winning ticket prize.
                  Account betting is only available to those above 21 years old. Any information, statistics or editorials which originate from third-party
                  service providers (e.g. event-related content, venue information, scores, timings or results) and are displayed here, are intended for general
                  information purposes only. We accept no responsibility for bets placed in reliance on the same. You are encouraged to read our
                  <a href="https://www.singaporepools.com.sg/en/rules/Pages/website-tnc.html" target="_blank">Terms and Conditions</a> and
                  <a href="https://www.singaporepools.com.sg/assets/AULib/personal_data_privacy_protection_policy.pdf" target="_blank">Privacy Policy</a>
                  before proceeding. Please exit if you are under 18.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-section -->
      <div class="footer-logo-section">
        <div class="container-md">
          <div class="row">
            <div class="col-3">
              <img
                src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-play-responsibly-en.png"
                alt="Play Responsibly"
                class="img-fluid img-vh-center"
              />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-wla.png" alt="WLA" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-iso.png" alt="ISO" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-skillfuture.png" alt="Skill Future" class="img-fluid img-vh-center" />
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-logo-section -->
    </footer>
    <script src="../includes/may25-vue.global.min.js"></script>
    <script src="../includes/may25-vue-nav.min.js"></script>
    <script src="../includes/affordability-calculator/nov24-ac-scripts.min.js"></script>
  </body>
</html>
