<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#004a85" />
    <title>Betting Behaviour Self-Assessment - Singapore Pools</title>
    <link rel="icon" href="../favicon.png" sizes="any" />
    <link rel="apple-touch-icon" href="../favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../includes/may25-bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="../includes/may25-styles.min.css" />
    <link rel="stylesheet" href="../includes/self-assessment/may25-sa-style.min.css" />
    <script src="../includes/may25-bootstrap.bundle.min.js"></script>
    <script src="../includes/may25-jquery.min.js"></script>
    <script src="../includes/may25-script.min.js"></script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-MS4QFMD');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-scroll" id="en-lang">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS4QFMD" height="0" width="0" style="display: none; visibility: hidden"></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="fixed-top">
      <div class="ncpg-section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <p class="ncpg-message">
                If you notice that you or somebody you know may be gambling excessively, call the
                <a href="https://www.ncpg.org.sg/homepage" target="_blank">National Problem Gambling Helpline</a> today at
                <a href="tel:1800-6-668-668">1800-6-668-668</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- .ncpg-section -->
      <nav class="navbar-expand-lg" id="app-nav">
        <div class="navbar">
          <div class="container-md">
            <a href="https://www.singaporepools.com.sg/landing/en/Pages/index.html" target="_blank"
              ><img src="../images/sgpools-logo.png" alt="Singapore Pools" class="main-logo img-fluid"
            /></a>
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".navbarCollapse"
              aria-controls="navbarCollapse"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </button>
            <div class="collapse navbar-collapse navbarCollapse">
              <main-menu lang="en"></main-menu>

              <div class="lang-toggle">
                <a href="../en/self-assessment.html" class="lang-link active">ENG</a>
                <a href="../ch/self-assessment.html" class="lang-link">中文</a>
              </div>
              <!-- .lang-toggle -->
            </div>
          </div>
        </div>
        <!-- .navbar -->
        <div class="navbar-sub collapse navbar-collapse navbarCollapse">
          <div class="container-md">
            <div class="collapse navbar-collapse navbarCollapse">
              <sub-menu lang="en"></sub-menu>
            </div>
          </div>
        </div>
        <!-- .navbar-sub -->
      </nav>
    </header>

    <main class="featured-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 g-0">
            <img src="../images/self-assessment/featured-banner-en.jpg" alt="" class="img-fluid img-vh-center" />
            <!-- .featured-content -->
          </div>
        </div>
      </div>
    </main>
    <!-- .featured-section -->

    <div id="app" class="content-section" v-cloak>
      <div class="container-md">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
            <div class="start-section content padding-bottom-2" v-if="showStart === true && showResult === false">
              <h1 class="header-main">Are you in control of your betting?<br />Do you play only with what you can afford?</h1>
              <p>
                Created in collaboration with the
                <a href="https://www.nams.sg/Pages/default.aspx" target="_blank" @click="trackOutbound">National Addictions Management Service (NAMS)</a>, take
                a Self-Assessment today to help you understand healthy habits and potential risks, if any, with respect to your betting.
              </p>
              <p>
                This Self-Assessment takes no more than 5 minutes to complete and there are no "right" or "wrong" answers to the 9 questions. When considering
                the responses, please take into account of your betting activities in general.
              </p>
              <p>
                For Account Customers, click on the "Singapore Pools Account Customer" button below to access your account. After login, choose
                "Self-Assessment" on the left navigation bar to proceed. If you do not have an Account, click on the "Non-Singapore Pools Account Customer"
                button below.
              </p>
              <p>Let's get started!</p>
              <h3 class="header-start">I am a &hellip;</h3>
              <div class="row g-5">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="start-btn">
                    <a href="https://online.singaporepools.com/en/account#page_self_assessment" target="_blank"
                      ><span class="start-btn-label">Singapore Pools Account Customer</span></a
                    >
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="start-btn" @click="nextQuestion('en');">
                    <span class="start-btn-label">Non-Singapore Pools Account Customer</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- .start-section -->

            <div class="layout-section" v-if="showStart === false && showResult === false">
              <img src="../images/self-assessment/rg-girl.png" alt="" class="img-fluid rg-girl" />

              <div class="bg-section">
                <div v-if="currentQuestion === 1" class="question">
                  <p>Great, now let's get to know your betting risk profile. Take the Problem Gambling Severity Index (PGSI) test to find out.</p>

                  <p>Thinking of the past 12 months, have you bet more than you could really afford to lose?</p>
                </div>
                <div v-else-if="currentQuestion === 2" class="question">
                  <p>Still thinking about the last 12 months, have you needed to gamble with larger amounts of money to get the same feeling of excitement?</p>
                </div>
                <div v-else-if="currentQuestion === 3" class="question">
                  <p>When you gambled, did you go back another day to try to win back the money you lost?</p>
                </div>
                <div v-else-if="currentQuestion === 4" class="question">
                  <p>Have you borrowed money or sold anything to get money to gamble?</p>
                </div>
                <div v-else-if="currentQuestion === 5" class="question">
                  <p>Have you felt that you might have a problem with gambling?</p>
                </div>
                <div v-else-if="currentQuestion === 6" class="question">
                  <p>Has gambling caused you any health problems, including stress or anxiety?</p>
                </div>
                <div v-else-if="currentQuestion === 7" class="question">
                  <p>Have people criticised your betting or told you that you had a gambling problem, regardless of whether or not you thought it was true?</p>
                </div>
                <div v-else-if="currentQuestion === 8" class="question">
                  <p>Has your gambling caused any financial problems for you or your household?</p>
                </div>
                <div v-else-if="currentQuestion === 9" class="question">
                  <p>Have you felt guilty about the way you gamble or what happens when you gamble?</p>
                </div>

                <div class="question-answer">
                  <div class="row g-0">
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('en'); countTotalScore(0);">
                        <span class="dot"></span>
                        <span class="answer">Never</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('en'); countTotalScore(1);">
                        <span class="dot"></span>
                        <span class="answer">Sometimes</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('en'); countTotalScore(2);">
                        <span class="dot"></span>
                        <span class="answer">Most of the time</span>
                      </div>
                    </div>
                    <div class="col-12 col-md-3">
                      <div class="selection" @click="nextQuestion('en'); countTotalScore(3);">
                        <span class="dot"></span>
                        <span class="answer">Almost always</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- .question-answer -->

                <div class="question-progress">
                  <span class="progress-number">{{ currentQuestion }}/{{ totalQuestion }}</span>
                </div>
                <!-- .question-progress -->
              </div>
              <!-- .bg-section -->
            </div>
            <!-- .layout-section -->

            <div class="layout-section" v-if="showStart === false && showResult === true">
              <img src="../images/self-assessment/rg-girl.png" alt="" class="img-fluid rg-girl" />

              <div class="bg-section bg-result">
                <div class="result-section">
                  <div class="risk-bar-section">
                    <div id="risk-bar-1" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 1 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label">No Risk</span>
                      </div>
                    </div>
                    <div id="risk-bar-2" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 2 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label vhide">Low Risk</span>
                      </div>
                    </div>
                    <div id="risk-bar-3" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 3 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label vhide">Med Risk</span>
                      </div>
                    </div>
                    <div id="risk-bar-4" class="risk-bar-col">
                      <div class="indicator-section" :class="riskLevel === 4 ? '' : 'vhide'">
                        <img src="../images/self-assessment/risk-indicator.png" alt="" class="img-fluid img-vh-center" />
                      </div>
                      <div class="risk-bar">
                        <span class="label">High Risk</span>
                      </div>
                    </div>
                  </div>
                  <!-- .risk-bar-section -->

                  <div class="risk-result-section">
                    <div v-if="riskLevel === 1" id="risk-result-1">
                      <h3>Your responses indicated <span class="highlight">No Risk</span></h3>
                    </div>
                    <!-- Score of 0 -->
                    <div v-else-if="riskLevel === 2" id="risk-result-2">
                      <h3>Your responses indicated <span class="highlight">Low Risk</span></h3>
                    </div>
                    <!-- Score of 1 or 2 -->
                    <div v-else-if="riskLevel === 3" id="risk-result-3">
                      <h3>Your responses indicated <span class="highlight">Moderate Risk</span></h3>
                    </div>
                    <!-- Score of 3 to 7 -->
                    <div v-else-if="riskLevel === 4" id="risk-result-4">
                      <h3>Your responses indicated <span class="highlight">High Risk</span></h3>
                    </div>
                    <!-- Score of 8 or more -->
                  </div>
                  <!-- .risk-result-section -->
                </div>
                <!-- .result-section -->
              </div>
              <!-- .bg-section -->
            </div>
            <!-- .layout-section -->

            <div class="layout-section" v-if="showStart === false && showResult === true">
              <img src="../images/self-assessment/rg-girl.png" alt="" class="img-fluid rg-girl-hide" />

              <div class="bg-section">
                <div class="hotline-section">
                  <p><span v-if="riskLevel === 1">Keep it up!</span> Thank you for completing the self-assessment!</p>
                  <p>
                    We hope you have a better understanding of the potential risks, if any, with respect to your betting. To find out more about healthier
                    habits to help you stay in control and play responsibly, <a href="index.html">click here</a> to visit Singapore Pools' Safer Play website.
                  </p>
                  <p>
                    Looking for some help or advice?
                    <a href="https://www.ncpg.org.sg/" target="_blank" @click="trackOutbound">The National Problem Gambling Helpline</a>
                    (1800-6-668-668) is a call away.
                  </p>
                </div>
                <!-- .hotline-section -->
              </div>
              <!-- .bg-section -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .content-section -->

    <footer>
      <div class="footer-section">
        <div class="container-md">
          <div class="row">
            <div class="col-12">
              <div class="footer">
                <p>&copy; Copyright Singapore Pools</p>
                <p>
                  Singapore Pools takes a strong Play Responsibly stand. Customers should play our games just for a little flutter and it must not adversely
                  affect their finances or lifestyle. Our game rules do not allow any person under the age of 18 to place a bet or claim a winning ticket prize.
                  Account betting is only available to those above 21 years old. Any information, statistics or editorials which originate from third-party
                  service providers (e.g. event-related content, venue information, scores, timings or results) and are displayed here, are intended for general
                  information purposes only. We accept no responsibility for bets placed in reliance on the same. You are encouraged to read our
                  <a href="https://www.singaporepools.com.sg/en/rules/Pages/website-tnc.html" target="_blank">Terms and Conditions</a> and
                  <a href="https://www.singaporepools.com.sg/assets/AULib/personal_data_privacy_protection_policy.pdf" target="_blank">Privacy Policy</a>
                  before proceeding. Please exit if you are under 18.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-section -->
      <div class="footer-logo-section">
        <div class="container-md">
          <div class="row">
            <div class="col-3">
              <img
                src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-play-responsibly-en.png"
                alt="Play Responsibly"
                class="img-fluid img-vh-center"
              />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-wla.png" alt="WLA" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-iso.png" alt="ISO" class="img-fluid img-vh-center" />
            </div>
            <div class="col-3">
              <img src="https://www.singaporepools.com.sg/ms/footer-logo/footer-logo-skillfuture.png" alt="Skill Future" class="img-fluid img-vh-center" />
            </div>
          </div>
        </div>
      </div>
      <!-- .footer-logo-section -->
    </footer>
    <script src="../includes/may25-vue.global.min.js"></script>
    <script src="../includes/may25-vue-nav.min.js"></script>
    <script src="../includes/self-assessment/may25-sa-scripts.min.js"></script>
  </body>
</html>
